Day3/Finance_domain.json
{
  "name": "Finance domain",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7af869d2-81fb-4a60-b44b-67c52bd853db",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ss6T_SXHbpCj5aD1OWT0FdGsDuM3eUxcKqMuU9Pk6as",
          "mode": "list",
          "cachedResultName": "Wf 11",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ss6T_SXHbpCj5aD1OWT0FdGsDuM3eUxcKqMuU9Pk6as/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ss6T_SXHbpCj5aD1OWT0FdGsDuM3eUxcKqMuU9Pk6as/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "7a63bb61-4098-41a2-a3e4-6e49cbc760a3",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KQN9hNXKXZB8B8a4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b66f866-c7ba-44c1-8eb9-2bcfb2d579e5",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "9327ff54-8152-4cd4-9d16-fb0f6c891a36",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Invoice paid",
        "emailType": "text",
        "message": "=Hello, {{ $json['Client Name'] }}\nThankyou for paying your invoice within due date",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -100
      ],
      "id": "01cdcc6e-2647-47ac-a22a-ac9f80c88c43",
      "name": "Gmail",
      "webhookId": "37295177-7133-435e-a47b-f3a0ea4b67b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "3FTqieW5OLoZ9kEy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft a mail in structured format:\n\nSubject: Friendly Reminder – Invoice Due on {{ $json[\"Due Date\"] }}\n\nBody:\nDear {{ $json[\"Client Name\"] }},\n\nThis is a gentle reminder that your invoice is pending and was due on {{ $json[\"Due Date\"] }}. Kindly make the payment at your earliest convenience to avoid any disruption.\n\nRegards,  \nFinance Team\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        100
      ],
      "id": "4321d441-0a09-4eb2-a719-f2302d7f1904",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        700,
        320
      ],
      "id": "0606ea14-0589-4b1e-adeb-bef26a0506c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dowJKjkO1o3jKicH",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('If').item.json.Email }}",
        "subject": "Reminder - unpaid Invoicve",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        100
      ],
      "id": "238f94a2-c211-40f6-9a30-97dd865fbb68",
      "name": "Gmail1",
      "webhookId": "c88bcb31-99cb-473e-9fbd-fdef0e5ffcd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "3FTqieW5OLoZ9kEy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ddadfdd6-f2fa-484f-b640-2f30c3400306",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2e847aea1afbad20bc986fdcca4d73233c1a19e7b9e6c4bff5fd7fc4c14840c"
  },
  "id": "230mZkIWuhGQGIgw",
  "tags": []
}