Day3/Project_managment.json
{
  "name": "Project managment",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Hello",
        "formDescription": "Kindly fill your Data ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "What did you work on yesterday?"
            },
            {
              "fieldLabel": "What will you do today?"
            },
            {
              "fieldLabel": "Any issue",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Urgent"
                  },
                  {
                    "option": "Blocked"
                  },
                  {
                    "option": "Completed"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1380,
        100
      ],
      "id": "d373df39-d276-4f58-91d4-af0ae1a1ab85",
      "name": "On form submission",
      "webhookId": "7b73e77d-82ad-45a8-ba95-1329b48a1fe9"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FSTffhEu8bY8Pg0tR081k0jhRZMeVc7W2GhCGuqaS44",
          "mode": "list",
          "cachedResultName": "wf 10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FSTffhEu8bY8Pg0tR081k0jhRZMeVc7W2GhCGuqaS44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FSTffhEu8bY8Pg0tR081k0jhRZMeVc7W2GhCGuqaS44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "What did you work on yesterday?": "={{ $json['What did you work on yesterday?'] }}",
            "What will you do today?": "={{ $json['What will you do today?'] }}",
            "Any issue": "={{ $json['Any issue'] }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "What did you work on yesterday?",
              "displayName": "What did you work on yesterday?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What will you do today?",
              "displayName": "What will you do today?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Any issue",
              "displayName": "Any issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1160,
        100
      ],
      "id": "7a3d010c-bed9-4044-8331-0c3aba001d0d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KQN9hNXKXZB8B8a4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You're ai agent yore role is to summarise the task which the answer was given by user and Here is the datas \nName:{{ $json.Name }}\nYESTERDAY TASK : {{ $json['What did you work on yesterday?'] }}\nToday what they gonna learn : {{ $json['What will you do today?'] }}\nImportant thing if they face any issue like Urgency then indicate it on output \n\noutput \nsummarise their task{{ $json['What did you work on yesterday?'] }}\nshow the issue {{ $json['Any issue'] }}For Example : \"Issue = Urgency\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -940,
        100
      ],
      "id": "fd5100ea-34c4-4de1-a1b0-0aee4f364fbe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -900,
        320
      ],
      "id": "67333212-ecf9-43c0-bfa2-fce90710a2d3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dowJKjkO1o3jKicH",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"state\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"Issue\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"Yesterday's task Summary\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        -580,
        100
      ],
      "id": "8e890e13-79c8-4c92-b79f-ee17a55042d0",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        320
      ],
      "id": "7ec36e76-13eb-42c0-b4a0-20362ce405b9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dowJKjkO1o3jKicH",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9bc4627-a4fd-4882-b6a4-bcf2799e28ff",
              "leftValue": "={{ $json.output.Issue }}",
              "rightValue": "Urgency",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        100
      ],
      "id": "9690a726-4ddc-4172-9707-a8349569f2ae",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "julferfarook13@gmail.com",
        "subject": "Urgency Regarrding plan",
        "emailType": "text",
        "message": "=HI MR.{{ $('On form submission').item.json.Name }}kindly work through{{ $('On form submission').item.json['Any issue']}}\nIt is considered ass a urgent task.Kindly go through as soon as possible.\nRegards,\nPM",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "829b9e28-5ce2-467a-a8b8-5b806404cea9",
      "name": "Urgency Mail",
      "webhookId": "afe92d10-729b-41bc-b4b5-a65f0226efb1",
      "credentials": {
        "gmailOAuth2": {
          "id": "3FTqieW5OLoZ9kEy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "julferfarook13@gmail.com",
        "subject": "Executed tasks",
        "emailType": "text",
        "message": "=Hi,you have completed the yesterdays task {{ $('On form submission').item.json.Name }}\nkindly go through{{ $('Information Extractor').item.json.output.state }}\nwelldone\n\nregards,\nPM",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "id": "973b38d3-47eb-4840-9aa7-d9966a5cce4c",
      "name": "Gmail",
      "webhookId": "196a0a6f-5225-4182-83fa-4a1caa52e482",
      "credentials": {
        "gmailOAuth2": {
          "id": "3FTqieW5OLoZ9kEy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Urgency Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22943f99-3a8e-4677-bd69-5f863acc2825",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2e847aea1afbad20bc986fdcca4d73233c1a19e7b9e6c4bff5fd7fc4c14840c"
  },
  "id": "UbRglGNsjomF4sgl",
  "tags": []
}